.grid{
    position: absolute;
    width: 560px;
    height: 300px;
    border: solid greenyellow 1px;
    margin-top: 80px;
    background-image: url("court.JPG");
    background-size: contain;

}

.block{
    position: absolute;
    width: 100px;
    height: 20px;
    background-image: url("brick.jpg");
    background-size: cover;
}

.user{
    position: absolute;
    width: 100px;
    height: 20px;
    background-image: url("bat.png");
    background-size: cover;

}

.ball{
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url("ball.png");
    background-size: cover;
}

body{
    background-image: url("Tennis.jpg");
    background-size: cover;
}

#score{
color: greenyellow;
}